<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun+NUnit" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
  <appSettings>
    <add key="localOrCI" value="local"/>
    <add key="useLocalDriverOrSaucelabs" value="localDriver"/>
    <!-- desired capabilities for saucelabs-->
    <add key="BrowserName" value="Safari"/>
    <add key="Version" value="latest"/>
    <add key="Platform" value="iOS"/>
    <add key="deviceName" value="iPhone 7 Simulator"/>
    <add key="deviceOrientation" value="portrait"/>
    <add key="appiumVersion" value="1.6.4"/>
  </appSettings>
</configuration>

